<DIV class="syntax <TMPL_VAR NAME=language>">
<TMPL_IF NAME="title">
<SPAN class="synTitle"><TMPL_VAR NAME=title></SPAN>
</TMPL_IF>
<PRE>
<TMPL_VAR NAME=text>
</PRE>
<TMPL_IF NAME="description">
<SPAN class="synDescription"><TMPL_VAR NAME=description></SPAN>
</TMPL_IF>
</DIV>
